<div class="col-md-6 col-lg-4" style="position: relative;">
    <a href="/menu/<%= category %>/<%= menu.menuName %>" class="menuName">
        <div class="menuItem rounded">
            <img class="menuImg  rounded-top" src="../<%= menu.imgSource %>" alt="<%= menu.menuName %>">
            <p class="menuJustify imgText"><%= menu.price %></p>
            <div class="container row far">
                <p class="noMargin"><%= menu.menuName %></p>
                <hr class="menuSepp">         
            </div>
        </div>
    </a>
</div>