<div  style="margin: 30px 0 30px;">
    <div class="container justify-content-center orderBox" id=""><!-- <<  order box-->
        <div class="row justify-content-center">
            <div class="row col-md-10 col-xs-12" >
                <h1 class="col-6 ">Table <%= orderInfo.table %></h1>
                <p class="col-6" style="text-align: right;">status: <span class="<%= orderInfo.status %>"><%= orderInfo.status %></span></p>
            </div>
            <div class="row col-md-10 col-xs-12 justify-content-center">

                <img src="IMG_1893.jpg" class="col-3 pic">
                <div class="col-8">
                    <!-- order list -->
                    <p class="menuName"><%= orderInfo.menuName %></p>
                    <ul>
                        <% orderInfo.remark.forEach(function(remark){ %>
                            <li><%= remark %></li>
                        <% }); %>
                    </ul>
                </div>
                <div class="col-1">
                    <p>x<%= orderInfo.amount %></p>
                </div>

            </div>
            <% if(orderInfo.status == "queue" || orderInfo.status == "cooking"){ %>
                <div class="row col-md-10 col-xs-12 justify-content-end">
                    <button type="submit" class="btn changeBtn">Change status</button>
                </div>
            <% } %>
        </div>
    </div>
</div>