<div class="container-md order">

<div class="orderN">
    <p>Order <%= n %></p>
</div>
<img class="statusImg" src="../IMG_1893.jpg"/>
<div class="imgText"><%= orderList.price %></div>
<div class="container-md menuStat row">
    <div class="col-6">
        <p class="statusText"><%= orderList.menuName %></p> 
    </div>
    <div class="col-6 status <%= orderList.status + 'Text' %>">
        <p class="statusText"><%= orderList.status %></p> 
    </div>
</div>
<% if(orderList.status != "canceled"){ %>
    <div class="row justify-content-center">
        <button class="btn canceledBtn col-10">Canceled</button>
    </div>
<% } %>
<hr class="sepp">

</div>