<div class="container-md order">

<div class="orderN">
    <p>Order <%= n %></p>
</div>
<img class="statusImg" src="../<%= orderList.imgSource %>" alt="<% orderList.menuName %>"/>
<div class="imgText <%= orderList.status + 'Price' %>"><%= orderList.price %></div>
<div class="container-md menuStat row">
    <div class="col-6">
        <p class="statusText"><%= orderList.menuName %></p> 
    </div>
    <div class="col-6 status <%= orderList.status + 'Text' %>">
        <p class="statusText"><%= orderList.status %></p> 
    </div>
</div>
<% if(orderList.status == "queue"){ %>
    <div class="row justify-content-center">
        <button class="btn canceledBtn col-10">Cancel this order</button>
    </div>
<% } %>
<hr class="sepp">

</div>