<%- include("partials/header"); %>


<% if(sort){ %>

    <div class="container-md"><h1>Cooking</h1></div>
    <% orderList.forEach( function(orderList){ %>
        <%- include("partials/order",{ orderInfo: orderList });%>
    <% }); %>
    <div class="container-md"><h1>Queue</h1></div>
    <% orderList.forEach( function(orderList){ %>
        <%- include("partials/order",{ orderInfo: orderList });%>
    <% }); %>
    <div class="container-md"><h1>Served</h1></div>
    <% orderList.forEach( function(orderList){ %>
        <%- include("partials/order",{ orderInfo: orderList });%>
    <% }); %>
    <div class="container-md"><h1>Canceled</h1></div>
    <% orderList.forEach( function(orderList){ %>
        <%- include("partials/order",{ orderInfo: orderList });%>
    <% }); %>

<% }else{ %>

    <% orderList.forEach( function(orderList){ %>
        <%- include("partials/order",{ orderInfo: orderList });%>
    <% }); %>
<% } %>


<%- include("partials/footer") %>
